<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compound-Interest</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="container">
        <form action="" id="calculator">
            <h1>Compound Interest calculator with Vue Js</h1>
           <label for="principal">Principal</label>
            <input type="tel" class="money" v-model="principal"><br>
            <label for="rate">Interest Rate</label>
            <input type="tel" class="money" v-model="rate"><br>
            <label for="nComp">number of times interest applied per time period</label>
            <input type="tel" class="money" v-model="nComp"><br>
            <label for="time">Time</label>
            <input type="tel" class="money" v-model="time"><br>
            <p>Your simple interest is = ${{result}}</p>
            <button class="btn-block btn btn-success">Reset</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>